.alert {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 7.5px; 

    .mat-icon {
        margin-right: 10px;
    }

    &.error {
        background: rgba(255, 0, 0, 0.3);
    }

    &.warning {
        background: rgba(255, 255, 0, 0.3);
    }
}