<h3 mat-dialog-title>
    <b>Merges Details</b>
</h3>

<div mat-dialog-content class="merges">
    <header>
        <p><b>Date:</b> {{ data.itemDate }}</p>
        <p><b>Tile:</b> {{ data.tileId }}</p>
    </header>

    <mat-accordion *ngIf="merges">
        <mat-expansion-panel *ngFor="let date of getMergeDates()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ date }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" style="padding: 0">
                            <img [src]="getMergeFile(date)" onerror="this.onerror=null; this.src='/assets/img/not_found.svg'"
                                style="width: 100%; height: 100%;" />
                        </div>
                    </div>
                </div>
            </div>

            <span><b>Images used:</b></span>
            <ol class="merges-used">
                <li *ngFor="let image of getImagesFromMerge(date)">
                    {{ getScenePath(image) }}
                </li>
            </ol>

            <span><b>Errors:</b> {{ countErrors(date) }} </span>

        </mat-expansion-panel>
    </mat-accordion>
</div>