.merges {
  header {
    padding: 10px;
    border: 2px dotted #CCC;
    border-radius: 10px;
    margin: 15px 0;
    background: #EEE;

    p {
      margin: 0;
    }
  }

  .merges-used {
    text-align: center;
    padding: 10px 20px !important;
    margin: 0px;

    .merge-item {
      display: inline-block;
      margin: 5px;
    }
  }
}

.export-json-button {
  display: inline;
  float: right;
  cursor: pointer;
}