<div class="main-content">
    <div class="container-fluid container_check-cube">

        <form [formGroup]="searchForm">
            <div class="section-card">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label class="mdc-label">Tiles</mat-label>
                            <input
                                matInput
                                formControlName="tileField"
                                placeholder="Tile name"
                                (keyup)="filterDataSet()">
                            <button mat-icon-button matSuffix>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <p><mat-checkbox formControlName="showErrorOnly" (click)="filterDataSet()">Show Errors Only</mat-checkbox></p>
                    </div>
                </div>
            </div>

            <div class="section-card" *ngIf="stats">
                <span>Tiles: {{ stats.totalTiles }}</span>
                <span>Timeline: {{ stats.totalTimeline }}</span>

                <div class="section-card" style="height: 60px">
                    <button mat-raised-button matTooltip="Reprocess all" (click)="reprocessAll()">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                </div>
            </div>
        </form>

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element" class="cell-right">
                    <button mat-icon-button aria-label="expand row"
                        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail" *ngIf="element == expandedElement"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                        <div class="row" style="margin: 0">
                            <div class="col-md-12">
                                <button mat-raised-button matTooltip="Reprocess all" (click)="reprocessAll()">
                                    <mat-icon>play_arrow</mat-icon>
                                </button>
                            </div>
                            <div class="col-md-3" *ngFor="let missingPeriod of element.missing">
                                <div class="card-tile-info">
                                    <span>
                                        {{ missingPeriod.start }}/{{ missingPeriod.end }}
                                    </span>

                                    <div style="display: inline;">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
                                            <mat-button-toggle>
                                                <mat-icon>get_app</mat-icon>
                                            </mat-button-toggle>
                                            <mat-button-toggle>
                                                <mat-icon>play_arrow</mat-icon>
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator #paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              class="tile-paginator">
        </mat-paginator>

    </div>
</div>