<div class="container_preview">
    <h3 style="display: flex; align-items: center;">
        <mat-icon>rate_review</mat-icon>
        <span style="margin-left: 10px;">Preview</span>
    </h3>

    <app-alert type="warning" *ngIf="!gridCompleted" message="Select a grid in the GRID step!"></app-alert>

    <app-alert type="warning" *ngIf="!regionCompleted" message="Select a region of interest in the REGION step!">
    </app-alert>

    <app-alert type="warning" *ngIf="!definitionCompleted"
        message="Fill in all the information in the DEFINITION step and click on the SAVE button!"></app-alert>

    <div class="row accordion" *ngIf="gridCompleted && regionCompleted && definitionCompleted">
        <mat-accordion class="col-12">
            <mat-expansion-panel *ngFor="let func of ['', 'STK', 'MED']">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>{{ getCubeName(func) }}</b>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ getCubeTypeDescription(func) }}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row content">
                    <div class="col-lg-4 col-md-12 col-sm-12 box">
                        <div class="container">
                            <p class="title">
                                <mat-icon>list</mat-icon> Cube:
                            </p>
                            <div class="box_content">
                                <p><b>Range Temporal:</b> {{ rangeDates[0] }}/{{ rangeDates[1] }}</p>
                                <p><b>Resolution:</b> {{ definition.resolution }}</p>
                                <p><b>Temporal Composition:</b> {{ definition.temporal }}</p>
                                <p><b>Composite Function:</b> {{ func || 'IDENTITY' }}</p>
                                <p><b>Bands:</b> {{ definition.bands.join(', ') }}</p>
                                <p><b>Bands to compose Quicklook:</b> {{ definition.bandsQuicklook.join(', ') }}</p>
                                <p><b>Grid:</b> {{ grid }}</p>
                                <p><b>Tiles:</b> {{ tiles.join(', ') }}</p>
                                <p><b>License:</b> {{ metadata.license }}</p>
                                <p><b>Description:</b> {{ metadata.description }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 box">
                        <div class="container">
                            <p class="title">
                                <mat-icon>folder_shared</mat-icon> Data Aquisition:
                            </p>
                            <div class="box_content">
                                <p><b>URL STAC:</b> {{ urlSTAC }}</p>
                                <p><b>Collection:</b> {{ collection }}</p>
                                <p><b>Satellite:</b> {{ satellite }}</p>
                                <p><b>Bucket to save the Cube:</b> {{ definition.bucket }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 box">
                        <div class="container">
                            <p class="title">
                                <mat-icon>attach_money</mat-icon> Cost:
                            </p>
                            <div class="box_content">
                                <p><b>Tasks:</b> {{ this.cost[func]['tasks'] }}</p>
                                <p><b>Collection Items:</b> {{ this.cost[func]['items'] }}</p>
                                <p><b>Assets:</b> {{ this.cost[func]['assets'] }}</p>
                                <p><b>Price to generate:</b> U$ ~{{ this.cost[func]['price'] }}</p>
                                <hr />
                                <p><b>Storage:</b> {{ this.cost[func]['size'] }}GB</p>
                                <p><b>Price to store the cube:</b> U$ ~{{ this.cost[func]['priceStorage'] }}/month</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <form class="col-12 box_btn" [formGroup]="formCreate" (ngSubmit)="create()">
            <mat-checkbox style="margin-top: 10px;" color="primary" formControlName="agree">
                <span style="font-size: 1.3em;">I agree with the creation of the cubes!</span>
            </mat-checkbox>
            <button type="submit" mat-raised-button color="primary">
                CREATE CUBE
            </button>
        </form>
    </div>
</div>