.container_preview {
    padding: 0 10px;

    .accordion {
        margin: 30px 0 40px 0;

        .mat-expansion-panel-header {
            background: #EEE;
        }

        .cubes-box {
            padding: 25px 0;
        }
    }

    .box_btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 25px;

        button {
            font-size: x-large;
            padding: 10px 20px;
            margin-left: 15px;
        }
    }
}