.container_definition {
    padding: 0 10px;

    .box_input_with_button {
        display: flex;
        width: 100%;
        align-items: center;

        .mat-form-field {
            width: 100% !important;
        }

        .btn_suffix {
            margin-left: 5px;
            width: 40px;
            margin-top: -20px;
        }
    }

    .box-rgb {
        border-top: 3px solid blue;

        .title {
            margin-top: -13px;
            background: #FFF;
            width: 130px;
            padding: 0 5px;
        }
        .content {
            display: flex;
            justify-content: space-between;
            margin-top: -15px;
        }
    }

    .box_btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;

        button {
            font-size: x-large;
            padding: 10px 20px;
        }
    }
}

footer{
    border-top:2px solid rgba(0,0,0,0.09);
    height: 57px;
    padding-top: 10px;
    text-align:right;

    button {
        margin-right: 10px;
    }
}

.band-index-panel {
    max-height: 200px;
    overflow: auto;
}