<div class="container_metadata">
    <h3 style="display: flex; align-items: center;">
        <mat-icon>create</mat-icon>
        <span style="margin-left: 10px;">Fill in the Metadata to the regular Cube</span>
    </h3>

    <app-alert
        type="warning"
        *ngIf="!definitionCompleted"
        message="Fill in all the information in the DEFINITION step and click on the SAVE button!"></app-alert>

    <form class="row" [formGroup]="formMetadataCube" (ngSubmit)="saveInfosInStore()">
        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>License</mat-label>
                <input matInput placeholder="License" formControlName="license">
            </mat-form-field>
        </div>

        <div class="col-6">
            <mat-form-field appearance="outline">
                <mat-label>Satellite</mat-label>
                <input matInput placeholder="Satellite" formControlName="satellite">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="outline">
                <mat-label>Instruments</mat-label>
                <input matInput placeholder="Instruments" formControlName="instruments">
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-label>Cube Parameters:</mat-label>
            <ace-editor [(text)]="cubeParameters" [durationBeforeCallback]="4000" [theme]="'eclipse'" mode="json" style="height: 200px;"></ace-editor>
        </div>

        <div class="col-12 box_btn">
            <button type="submit" mat-stroked-button color="primary">
                SAVE
            </button>
        </div>
    </form>
</div>