.container_check-cube {
    padding: 0 15px;

    .search-box {
        background: #FFF;
        padding: 20px 10px 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .row {
            margin: 0;
            width: 100%;
        }

        button {
            margin-top: -20px;
            margin-right: 10px;
        }
    }

    .tab-box {
        background: #FFF;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;

        .card-header-success {
            padding: 0;
            border-radius: 10px;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .card-body {
            padding-bottom: 0;
        }

        .card-footer {
            border-top: 1px solid #DDD;
            justify-content: space-around;
            padding: 15px 0 10px 0;
        }
    }
}

.card-tile-options {
    display: flex;
    justify-content: space-between;
    float: right;
}