<div class="main-content">
    <div class="container-fluid container_check-cube">
        <app-alert type="warning" *ngIf="itemsResponse.items.length == 0"
            message="Items not Found!"></app-alert>

        <form [formGroup]="form">
            <div class="search-box">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="outline">
                            <mat-label>BBOX</mat-label>
                            <input matInput formControlName="bbox" placeholder="BBox (W, S, E, N)">
                            <button mat-icon-button matSuffix (click)="openMapModal()">
                                <mat-icon>map</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Start Date</mat-label>
                            <input matInput formControlName="start" [matDatepicker]="start_date" name="start_date">
                            <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                            <mat-datepicker #start_date></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Date</mat-label>
                            <input matInput formControlName="end" [matDatepicker]="last_date" name="last_date">
                            <mat-datepicker-toggle matSuffix [for]="last_date"></mat-datepicker-toggle>
                            <mat-datepicker #last_date></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button color="primary" (click)="search()">SEARCH</button>
            </div>
        </form>

        <div class="tab-box">
            <mat-tab-group>
                <mat-tab *ngFor="let tile of getTiles()" label="{{ tile }}">
                    <div class="row" style="margin: 0">
                        <ng-container *ngFor="let item of itemsResponse.items">
                            <ng-template [ngIf]="item.tile_id === tile">
                                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-top: 20px;">
                                    <div class="card">
                                        <div class="card-header card-header-image">
                                            <img [src]="getUrl(item)" 
                                                onerror="this.onerror=null; this.src='/assets/img/not_found.svg'" />
                                        </div>
                                        <div class="card-body">
                                            <p class="text-center">
                                                {{ item.id }}
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <button mat-raised-button (click)="reprocess(item)">REPROCESS</button>
                                            <button mat-raised-button color="primary" (click)="openDetails(item)">DETAILS</button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <mat-paginator [pageSize]="10"
              [length]="itemsResponse.total_items"
              [pageIndex]="pageIndex"
              (page)="pageEvent = getServerData($event)">
        </mat-paginator>

    </div>
</div>