.container_images {
    padding: 0 10px;

    .container_map {
        margin-top: 20px;
        height: 500px;
        width: 100%;
        box-shadow: 0px 0px 6px rgba(#000, 0.25);

        .map-disclaimer {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            background: rgba($color: #000000, $alpha: .5);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-size: 2em;

            input {
                padding: 10px;
                background: rgb(255, 255, 255);
                margin: 0px 10px;
                border-radius: 10px;
                color: rgb(51, 51, 51);
                outline: none;
            }
        }
    }

    .form {
        padding: 10px;

        .catalog {
            .card-title {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .card-body {
                .mat-icon {
                    margin-right: 10px;
                }
            }
        }
    }
}

.data-source {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;

    .data-source-margin {
        margin: 0 10px;
    }
}

.footer {
    margin-top: 10px;
    padding: 0 20px;
    border: none;
    justify-content: space-between;
}