<div class="container_images">
    <h3 style="display: flex; align-items: center;">
        <mat-icon>border_outer</mat-icon>
        <span style="margin-left: 10px;">Select Region</span>
    </h3>
    
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div leaflet 
                class="container_map" 
                [leafletOptions]="options"
                (leafletMapReady)="onMapReady($event)"></div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-12 form">
            <mat-form-field appearance="outline">
                <mat-label>STAC</mat-label>
                <input matInput placeholder="URL STAC" [(ngModel)]="urlSTAC">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Related Collection</mat-label>
                <mat-select [(value)]="form.collection">
                    <mat-option *ngFor="let collection of collections" [value]="collection">{{ collection }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div style="display: flex;">
                <mat-form-field appearance="outline" style="width: 48%">
                    <mat-label>Start Date</mat-label>
                    <input matInput
                        [matDatepicker]="start_date"
                        name="start_date"
                        [(ngModel)]="form.startDate">
                    <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field appearance="outline" style="width: 48%; margin-left: 4%;">
                    <mat-label>Last Date</mat-label>
                    <input matInput
                        [matDatepicker]="last_date"
                        name="last_date"
                        [(ngModel)]="form.lastDate">
                    <mat-datepicker-toggle matSuffix [for]="last_date"></mat-datepicker-toggle>
                    <mat-datepicker #last_date></mat-datepicker>
                </mat-form-field>

            </div>

            <div style="display: flex; margin-bottom: 40px;">
                <button mat-raised-button disabled style="display: block; margin: 0 auto;">SEARCH</button>
            </div>
            
            <div class="catalog">
                <div class="card card-chart">
                    <div class="card-header-success">
                        <h4 class="card-title">
                            <mat-icon>folder</mat-icon>
                            <span style="margin-left: 10px;">CATALOG</span>
                        </h4>
                    </div>
                    <div class="card-body" style="padding-top: 25px">
                        <div class="card-category text-justify">
                            <p>
                                <mat-icon>cloud_done</mat-icon>
                                <b>Total Images:</b> <span style="font-size: 1.4em"> ???</span>
                            </p>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</div>