<div class="container_images">
    <h3 style="display: flex; align-items: center;">
        <mat-icon>border_outer</mat-icon>
        <span style="margin-left: 10px;">Select Region</span>
    </h3>

    <app-alert
        type="warning"
        *ngIf="!grid"
        message="Select a grid in the GRID step!"></app-alert>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div leaflet class="container_map" [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
                <div class="map-disclaimer" *ngIf="isBigGrid">
                    <input matInput placeholder="set tiles (tile_id) comma-separated" name="tiles" [(ngModel)]="tilesString">
                </div>
            </div>
        </div>

        <form class="col-lg-4 col-md-4 col-sm-12 form" (ngSubmit)="searchImages()" [formGroup]="formSearchImages">
            <!-- STAC Box -->
            <mat-tab-group mat-align-tabs="start">
                <mat-tab [label]="'STAC ' + (i+1)" 
                         *ngFor="let stac of stacList; let i = index">

                    <div style="padding: 10px">
                        <div style="display: flex; margin: 5px 0 10px 10px; justify-content: flex-start;">
                            <mat-checkbox (change)="stac.authentication = $event.checked" [checked]="stac.authentication">Authentication</mat-checkbox>
                        </div>

                        <div style="display: block; position: absolute; z-index: 999; top: 0px; right: 30px;">
                            <button type="button" mat-icon-button color="primary" (click)="addStac()" [disabled]="environmentVersion !== 'cloud'">
                                <mat-icon>plus_one</mat-icon>
                            </button>
                        </div>

                        <div style="display: block; position: absolute; z-index: 999; top: 0px; right: 0px;">
                            <button type="button" mat-icon-button color="error" (click)="removeStac(i)" [disabled]="stacList.length <= 1">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>

                        <div style="display: flex;">
                            <mat-form-field appearance="outline" style="width: 48%">
                                <mat-label>URL STAC</mat-label>
                                <input matInput placeholder="URL STAC" 
                                        [(ngModel)]="stac.url" 
                                        (focusout)="getCollectionBySTAC(i)" 
                                        [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
        
                            <mat-form-field appearance="outline" style="width: 48%; margin-left: 4%;">
                                <mat-label>Related Collection</mat-label>
                                <mat-select [(ngModel)]="stac.collection" [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let collection of stac.collections" [value]="collection">
                                        {{ collection }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div style="display: flex;" *ngIf="stac.authentication">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Access Token</mat-label>
                                <input matInput placeholder="User Personal Token" 
                                        [(ngModel)]="stac.token" 
                                        (focusout)="getCollectionBySTAC(i)"
                                        [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </div> 
                    </div>
              
                </mat-tab>
            </mat-tab-group>


            <mat-form-field appearance="outline">
                <mat-label>Satellite</mat-label>
                <mat-select formControlName="satellite">
                    <mat-option *ngFor="let satellite of satellites" [value]="satellite">
                        {{ satellite }}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <form-field-error [errors]="formSearchImages.get('satellite').errors"></form-field-error>
                </mat-error>
            </mat-form-field>

            <div style="display: flex;">
                <mat-form-field appearance="outline" style="width: 48%">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="start_date" name="start_date" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                    <mat-error>
                        <form-field-error [errors]="formSearchImages.get('startDate').errors"></form-field-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 48%; margin-left: 4%;">
                    <mat-label>Last Date</mat-label>
                    <input matInput [matDatepicker]="last_date" name="last_date" formControlName="lastDate">
                    <mat-datepicker-toggle matSuffix [for]="last_date"></mat-datepicker-toggle>
                    <mat-datepicker #last_date></mat-datepicker>
                    <mat-error>
                        <form-field-error [errors]="formSearchImages.get('lastDate').errors"></form-field-error>
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="display: flex; margin-bottom: 40px;">
                <button mat-raised-button type="submit" style="display: block; margin: 0 auto;">SEARCH</button>
            </div>

            <div class="catalog">
                <div class="card card-chart">
                    <div class="card-header-success">
                        <h4 class="card-title">
                            <mat-icon>folder</mat-icon>
                            <span style="margin-left: 10px;">CATALOG</span>
                        </h4>
                    </div>
                    <div class="card-body" style="padding-top: 25px">
                        <div class="card-category text-justify">
                            <p *ngFor="let stac of stacList; let i = index">
                                <mat-icon>cloud_done</mat-icon>
                                <b>Total Images ({{ 'STAC ' + (i + 1) }}):</b> <span style="font-size: 1.4em; margin-left: 10px"><b>{{ stac.totalImages }}</b></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>