<div class="main-content cube-detais">
    <div class="container-fluid" *ngIf="cube">

        <div class="row container_details">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-" style="background: #999">
                        <h4 class="card-title">{{ cube.title }}</h4>
                        <p class="card-category">{{ cube.description }}</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr style="border-bottom: 1px dotted #CCC; padding: 10px">
                                    <td class="text-success">Range Time:</td>
                                    <td>{{ cube.start_date }} / {{ cube.end_date }}</td>
                                </tr>
                                <tr style="border-bottom: 1px dotted #CCC; padding: 10px">
                                    <td class="text-success">Bands:</td>
                                    <td>
                                        <mat-chip-list>
                                            <mat-chip class="clickable"
                                                *ngFor="let band of cube.bands"
                                                (click)="openUpdateBandModal(band)"
                                                matTooltip="Edit band {{ band.name }} info">
                                                {{ band.name }}</mat-chip>
                                        </mat-chip-list>
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px dotted #CCC; padding: 10px">
                                    <td class="text-success">Grid:</td>
                                    <td>{{ cube.grid }}</td>
                                </tr>
                                <tr style="border-bottom: 1px dotted #CCC; padding: 10px">
                                    <td class="text-success">Bands Quicklook:</td>
                                    <td>
                                        <mat-chip-list *ngIf="cube.quicklook">
                                            <mat-chip style="background-color: rgb(255, 114, 114);">{{ cube.quicklook[0] }}</mat-chip>
                                            <mat-chip style="background-color: rgb(32, 200, 32);">{{ cube.quicklook[1] }}</mat-chip>
                                            <mat-chip style="background-color: rgb(118, 159, 255);">{{ cube.quicklook[2] }}</mat-chip>
                                        </mat-chip-list>
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px dotted #CCC; padding: 10px">
                                    <td class="text-success">Composite Function:</td>
                                    <td>{{ getCompositeFunction() }}</td>
                                </tr>
                                <tr style="border-bottom: 1px dotted #CCC; padding: 10px">
                                    <td class="text-success">Temporal Composition:</td>
                                    <td>{{ convertToString(cube.temporal_composition_schema) }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="actions">
                            <button mat-raised-button (click)="openModalUpdateCubeMetadata()" color="primary">
                                <mat-icon>edit</mat-icon>
                                <span style="margin-left: 10px">UPDATE CUBE METADATA</span>
                            </button>

                            <a mat-raised-button
                                [href]="exportMetadataUrl" download="{{ cube.name }}.json" color="gray"
                                matTooltip="Export cube metadata"
                                aria-label="Export metadata"
                                style="margin-left: 10px">
                                <mat-icon>get_app</mat-icon>
                                <span style="margin-left: 10px">EXPORT</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div leaflet
                    class="container_map"
                    [leafletOptions]="options"
                    (leafletMapReady)="onMapReady($event)">
                </div>

                <div class="btns-check" *ngIf="cubeStatus">
                    <button *ngIf="(cubeStatus.finished || !cubeStarted()) && getCompositeFunction() !== 'IDT'" mat-raised-button color="success" (click)="openModalUpdateCube()">
                        PROCESS CUBE
                    </button>
                    <a mat-raised-button *ngIf="countTiles > 0" color="primary" [routerLink]="['/check-cube', getCubeFullName(cube)]">
                        CHECK CUBE
                    </a>
                </div>
            </div>
        </div>

        <div class="row container_progress" *ngIf="cubeStatus && cubeStarted()">
            <div class="col-10 bar">
                <mat-progress-bar mode="buffer" [value]="getPercentage(cubeStatus)" color="blue" bufferValue="0">
                </mat-progress-bar>
                <img *ngIf="!cubeStatus.finished" src="assets/img/loading.gif" alt="loading">
            </div>
        </div>

        <div class="row container_cards" *ngIf="cubeStatus">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div *ngIf="!cubeStatus.finished">
                    <app-mini-card category="Tasks - FINISHED" [title]="cubeStatus.done" icon="check" class="card-header-success"></app-mini-card>
                </div>
                <div *ngIf="cubeStatus.finished">
                    <app-mini-card category="Tasks - TOTAL" [title]="getTotalTasks(cubeStatus)" icon="list" class="card-header-gray"></app-mini-card>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div *ngIf="!cubeStatus.finished">
                    <app-mini-card category="Tasks - ERROR" [title]="cubeStatus.error" icon="error" class="card-header-danger"></app-mini-card>
                </div>
                <div *ngIf="cubeStatus.finished">
                    <app-mini-card category="Tasks - duration" [title]="cubeStatus.duration" icon="access_alarm" class="card-header-gray"></app-mini-card>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div *ngIf="!cubeStatus.finished">
                    <app-mini-card category="Tasks - PENDING" [title]="cubeStatus.not_done" icon="warning" class="card-header-warning"></app-mini-card>
                </div>
                <div *ngIf="cubeStatus.finished">
                    <app-mini-card category="Collection - ITEM" [title]="cubeStatus.collection_item" icon="check" class="card-header-success"></app-mini-card>
                </div>
            </div>
        </div>
    </div>
</div>