<div class="main-content">
    <div class="container-fluid">
        <app-alert
            type="warning"
            *ngIf="cubes.length == 0"
            message="You have no cubes created. Create your first now!"></app-alert>

        <div class="row">
            <div class="col-md-3"
                *ngFor="let cube of cubes">
                <a [routerLink]="['/details-cube', getCubeFullName(cube)]">
                    <div class="card card-chart">
                        <div [ngClass]="['card-header', getCubeClass(cube)]">
                            <h4 class="card-title text-center">{{ cube.name }}-{{ cube.version }}</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-category text-justify">
                                {{ cube.description && cube.description.length > 145 ? cube.description.substring(0, 145) + '...' : cube.description }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">search</i> click here for more information
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <a class="btn-create" mat-raised-button color="primary" [routerLink]="['/create-cube']"> + Create New Cube</a>
        </div>
    </div>
</div>