/* You can add global styles to this file, and also import other style files */
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-draw/dist/leaflet.draw.css';

[hidden] { 
    display: none !important; 
}

// ANGULAR MATERIAL - THEMES
.app_snack-bar-success {
    background: rgba(#339966, 0.9) !important;
    color: #ffffff !important;
    font-weight: 700 !important;
}
.app_snack-bar-error {
    background: rgba(#ff4d4d, 0.9) !important;
    color: #ffffff !important;
    font-weight: 700 !important;
}

// LEAFLET PLUGINS
.leaflet-control-container .leaflet-control-coordinates .uiHidden {
    display: none !important;
}
.leaflet-control-container .leaflet-control-coordinates .label {
    border-radius: 5px;
    background: rgba(#FFF, 1);
    margin: 0px;

    .labelFirst {
        padding: 20px 7.5px;
        font-size: 1.5em;
        font-weight: 700;
    }
}