<div class="container_grid">
    <h3 style="display: flex; align-items: center;">
        <mat-icon>grid_on</mat-icon>
        <span style="margin-left: 10px;">Select Grid</span>
    </h3>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div leaflet class="container_map" [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
                <div class="map-disclaimer" *ngIf="isBigGrid">
                    We don't show the grid, because it is too big
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 form">
            <div class="btn-group">
                <mat-button-toggle-group [(ngModel)]="action">
                    <mat-button-toggle value="select">
                        <b>SELECT</b> GRID
                    </mat-button-toggle>
                    <mat-button-toggle value="create" (click)="removeGrid(grid['id'])">
                        <b>CREATE NEW</b> GRID
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div *ngIf="action === 'select'">
                <mat-form-field appearance="outline">
                    <mat-label>Grid Name</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let grid of grids" [value]="grid.id" (click)="selectGrid(grid)">
                            {{ grid.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>CRS</mat-label>
                    <textarea matInput placeholder="CRS" [value]="grid.crs" rows="4" disabled></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" [value]="grid.description" rows="3" disabled></textarea>
                </mat-form-field>
            </div>

            <div *ngIf="action === 'create'">
                <form [formGroup]="formCreateGrid" (ngSubmit)="createGrid()">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name (Names delimited by comma)" formControlName="names">
                        <mat-error>
                            <form-field-error [errors]="formCreateGrid.get('names').errors"></form-field-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Description" formControlName="description">
                        <mat-error>
                            <form-field-error [errors]="formCreateGrid.get('description').errors"></form-field-error>
                        </mat-error>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Meridian</mat-label>
                                <input matInput type="number" placeholder="Central Meridian" formControlName="meridian">
                                <mat-error>
                                    <form-field-error [errors]="formCreateGrid.get('meridian').errors"></form-field-error>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Custom SRID</mat-label>
                                <input matInput type="number" placeholder="Custom SRID Number to create" formControlName="srid">
                                <mat-error>
                                    <form-field-error [errors]="formCreateGrid.get('srid').errors"></form-field-error>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Cell Shape (Row,Col)</mat-label>
                                <input matInput type="text" placeholder="Cell Shape (Row,Col)" formControlName="shape">
                                <mat-error>
                                    <form-field-error [errors]="formCreateGrid.get('shape').errors"></form-field-error>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field appearance="outline" matTooltip="Tile Resolution Factor (in meters)">
                                <mat-label>Tile Resolution Factor (in meters)</mat-label>
                                <input matInput type="text" placeholder="Tile Resolution delimited by comma and semi colon" formControlName="tile_factor">
                                <mat-error>
                                    <form-field-error [errors]="formCreateGrid.get('tile_factor').errors"></form-field-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <button mat-raised-button class="btn" type="submit">CREATE GRID</button>
                </form>
            </div>
        </div>
    </div>
</div>