<div class="container_grid">
    <h3 style="display: flex; align-items: center;">
        <mat-icon>grid_on</mat-icon>
        <span style="margin-left: 10px;">Select Grid</span>
    </h3>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div leaflet class="container_map" [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 form">
            <div class="btn-group">
                <mat-button-toggle-group [(ngModel)]="action">
                    <mat-button-toggle value="select">
                        <b>SELECT</b> GRID
                    </mat-button-toggle>
                    <mat-button-toggle value="create" (click)="removeGrid(grid['id'])">
                        <b>CREATE NEW</b> GRID
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div *ngIf="action === 'select'">
                <mat-form-field appearance="outline">
                    <mat-label>Grid Name</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let grid of grids" [value]="grid.id" (click)="selectGrid(grid)">
                            {{ grid.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>CRS</mat-label>
                    <textarea matInput placeholder="CRS" [value]="grid.crs" rows="4" disabled></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" [value]="grid.description" rows="3" disabled></textarea>
                </mat-form-field>
            </div>

            <div *ngIf="action === 'create'">
                <form [formGroup]="formCreateGrid" (ngSubmit)="createGrid()">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                        <mat-error>
                            <form-field-error [errors]="formCreateGrid.get('name').errors"></form-field-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Description" formControlName="description">
                        <mat-error>
                            <form-field-error [errors]="formCreateGrid.get('description').errors"></form-field-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Meridian</mat-label>
                        <input matInput type="number" placeholder="Central Meridian" formControlName="meridian">
                        <mat-error>
                            <form-field-error [errors]="formCreateGrid.get('meridian').errors"></form-field-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Width (in graus)</mat-label>
                        <input matInput type="number" placeholder="Width Tile" formControlName="degreesx">
                        <mat-error>
                            <form-field-error [errors]="formCreateGrid.get('degreesx').errors"></form-field-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Height (in graus)</mat-label>
                        <input matInput type="number" placeholder="Height Tile" formControlName="degreesy">
                        <mat-error>
                            <form-field-error [errors]="formCreateGrid.get('degreesy').errors"></form-field-error>
                        </mat-error>
                    </mat-form-field>

                    <button mat-raised-button class="btn" type="submit">CREATE GRID</button>
                </form>
            </div>
        </div>
    </div>
</div>