.container_grid {
    padding: 0 10px;

    .container_map {
        margin: 15px 0;
        height: 500px;
        width: 100%;
        box-shadow: 0px 0px 6px rgba(#000, 0.25);

        .map-disclaimer {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            background: rgba($color: #000000, $alpha: .5);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-size: 2em;
        }
    }

    .form {
        padding: 0 10px;

        .btn-group {
            display: flex;
            justify-content: center;
            margin: 0px 0 20px 0;
        }

        .btn {
            display: block;
            margin: 0 auto;
        }
    }
}